.center-align
  h2= t('site.hello')
  = link_to t('site.sign_in_with_google'), user_google_oauth2_omniauth_authorize_path, class: 'btn'
  p = "Hi, You are visiting from #{request.headers['HTTP_CF_IPCOUNTRY']}"
