
@mixin font-brand() {
  font-family: 'Futura';
  font-wieght: 400;
}

.gift {
  background: image-url('new_year_background.png');
  background-repeat: repeat;
}

.blue{
  background-color:$blue;
}

.blue-text{
  color:$blue;
}

.blue-light{
  background-color:$blue-light;
}

.blue-light-text{
  color:$blue-light;
}

.yellow{
  background-color:$yellow;
}

.yellow-text{
  color:$yellow;
}

.purple{
  background-color:$purple;
}

.purple-text{
  color:$purple;
}

.green{
  background-color:$green;
}

.green-text{
  color:$green;
}

.red{
  background-color:$red;
}

.red-text{
  color:$red;
}

.grey-light{
  background-color:$grey-light;
}

.grey-light-text{
  color:$grey-light;
}

.color-brand{
  background-color:$color-brand;
}

.color-brand-text{
  color:$color-brand;
}