h2 Seven things to know about Kickstarter:

h3 1. Kickstarter is a new way to fund creative projects.

p We’re a home for everything from films, games, and music to art, design, and technology. Kickstarter is full of projects, big and small, that are brought to life through the direct support of people like you. Since our launch in 2009, 8.1 Million people have pledged more than $1.6 Billion, funding 79,000 creative projects. Thousands of creative projects are raising funds on Kickstarter right now.

h3 2. Each project is independently created.

p The filmmakers, musicians, artists, and designers you see on Kickstarter have complete control over and responsibility for their projects. Kickstarter is a platform and a resource; we’re not involved in the development of the projects themselves. Anyone can launch a project on Kickstarter as long as it follows our rules.

h3 3. Together, creators and backers make projects happen.

p Project creators set a funding goal and deadline. If people like a project, they can pledge money to make it happen. Funding on Kickstarter is all-or-nothing — projects must reach their funding goals to receive any money. All-or-nothing funding might seem scary, but it’s amazingly effective in creating momentum and rallying people around an idea. To date, an impressive 44% of projects have reached their funding goals.

p Amanda Palmer Kickstarter	There’s just something magical about Kickstarter... You immediately feel like you’re part of a larger club of art-supporting fanatics.

p — Amanda Palmer, who rallied 25,000 backers to support her album, book, and tour.

h3 4. Creators keep 100% ownership of their work.

p Backers are supporting projects to help them come to life, not to profit financially. Instead, project creators offer rewards to thank backers for their support. Backers of an effort to make a book or film, for example, often get a copy of the finished work. A bigger pledge to a film project might get you into the premiere — or land you a private screening for you and your friends. One artist raised funds to create a wall installation, then gave pieces of it to her backers when the exhibit ended.

h3 5. Creative works were funded this way for centuries.

p Mozart, Beethoven, Whitman, Twain, and other artists funded works in similar ways — not just with help from large patrons, but by soliciting money from smaller patrons, often called subscribers. In return for their support, these subscribers might have received an early copy or special edition of the work. Kickstarter is an extension of this model, turbocharged by the web.

p Stephen Heleker Kickstarter	The most democratic way art has ever been made.

p — Stephen Heleker, who raised $21,000 for his short film "Smoke"

h3 6. Backing a project is more than just giving someone money.

p It’s supporting their dream to create something that they want to see exist in the world. People rally around their friends’ projects, fans support people they admire, and others simply come to Kickstarter to be inspired by new ideas. Some projects take longer than anticipated, but creators who are transparent about issues and delays usually find their backers to be understanding.

h3 7. Our mission is to help bring creative projects to life.

p We're an independent company of 108 people based in Greenpoint, Brooklyn. We spend our time making Kickstarter a little bit better every day, answering questions from backers and creators, and finding new projects to share. If a project is successfully funded, we apply a 5% fee to the funds collected.

p We believe that creative projects make for a better world, and we’re thrilled to help support new ones. Building a community of backers around an idea is an amazing way to make something new.