$white: #FFFFFF;
$red: #E74C3C;
$teal: #24B793;
$green: #4BB86D;
$indigo: #40479B;
$purple: #A82278;
$orange: #E57D25;
$yellow: #EFC319;
$blue: #344A5F;
$cyan: #3896D2;
$baby-blue: #9DCBEB;
$grey: #808D8E;
$medium-grey: #94A4A5;
$light-grey: #F0F3F8;
