//= require_self

// Settings
@import "semantic-ui/globals/reset";
@import "semantic-ui/globals/colors";
@import "settings/colors";
@import "settings/global";
@import "semantic-ui/globals/site";
// Tools
@import 'tools/mixins';
// Generic
@import 'opotto';
@import 'semantic-ui/elements/all';
@import 'semantic-ui/collections/all';
@import 'semantic-ui/views/all';
@import 'semantic-ui/modules/all';
// Base
@import 'base/headers';
// Components
@import 'components/boxes';
@import 'components/select2-multiple';
// Trumps

#pot_guest_ids{
  display: none;
}

body {
  .main {
    &.imaged {
      background: url('https://ununsplash.imgix.net/uploads/141362941583982a7e0fc/abcfbca1?q=75&fm=jpg&s=5266baf09e0e878b72b2e34adf2f54a0') fixed !important;
      background-size: cover !important;
    }
  }
}

.ui.large.secondary.attached.menu {
  #nav-title {
    margin-left: auto;
  }
}

.pusher {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main {
  flex: 1;
}

.arrow {
  &.down {
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid $white;
  }
}

.right.menu {
  min-width: 63.47px;
}
