/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_self
 */

// Settings
@import 'semantic-ui/globals/reset';
@import 'semantic-ui/globals/colors';
@import 'settings/colors';
@import 'settings/global';
@import 'semantic-ui/globals/site';

// Tools
@import 'tools/mixins';
// Generic
@import 'opotto';
@import 'semantic-ui/elements/all';
@import 'semantic-ui/collections/all';
@import 'semantic-ui/views/all';
@import 'semantic-ui/modules/all';
// Base
@import 'base/headers';
// Components
@import 'components/boxes';
// Trumps

#pot_guest_ids{
  display: none;
}

body {
  .main {
    &.imaged {
      background: url('https://ununsplash.imgix.net/uploads/141362941583982a7e0fc/abcfbca1?q=75&fm=jpg&s=5266baf09e0e878b72b2e34adf2f54a0') fixed !important;
      background-size: cover !important;
    }
  }
}

.pot-menu{
  #contribute-button {
    border-radius: 0px 20px 0px 0px;
    -moz-border-radius: 0px 20px 0px 0px;
    -webkit-border-radius: 0px 20px 0px 0px;
  }

  #edit-button {
    border-radius: 20px 0px 0px 0px;
    -moz-border-radius: 20px 0px 0px 0px;
    -webkit-border-radius: 20px 0px 0px 0px;
  }
}

.ui.large.secondary.attached.menu {
  #nav-title {
    margin-left: auto;
  }
}

.pusher {
  display: flex;
  min-height: 100vh !important;
  flex-direction: column;
}

.pot-list {
  flex: 1;
}
