/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_self
 */

// Settings
@import 'settings/colors';
@import 'settings/global';
// Tools
@import 'tools/mixins';
// Generic
@import 'opotto';
@import 'semantic-ui/globals/all';
@import 'semantic-ui/elements/all';
@import 'semantic-ui/collections/all';
@import 'semantic-ui/views/all';
@import 'semantic-ui/modules/all';
// Base
@import 'base/headers';
// Components
@import 'components/boxes';
// Trumps
@import 'trumps/home';

#pot_guest_ids{
  display: none;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;

  main {
    flex: 1;
    display: flex;
    flex-direction: column;

    #a {
      flex: 0.4;
    }

    &.image {
      background: url('https://ununsplash.imgix.net/uploads/141362941583982a7e0fc/abcfbca1?q=75&fm=jpg&s=5266baf09e0e878b72b2e34adf2f54a0') fixed !important;
      background-size: cover !important;
    }

    &.teal {
      background-color: $teal !important;
    }
  }
}
