// Place all the styles related to the jars controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.users {
  border: 1px solid;
}

.contributed-to {
  background-color:#F1FFC7;
  opacity:0.9;
}

.jar-guests {
  width: 100%;
}

.d3 {
  width:100%;
  height: 300px;
}
