.ui.list.horizontal
  - { warehouse: 'red', 'graduation-cap': 'orange', gift: 'yellow', flight: 'olive', diamond: 'green', truck: 'teal', cup: 'blue', 'heart-empty': 'violet'}.each do |icon, color|
    i.item class="icon-#{icon} #{color}"
