- { home: 'red', 'student': 'orange', gift: 'yellow', plane: 'olive', diamond: 'green', truck: 'teal', trophy: 'blue', 'empty heart': 'violet'}.each do |icon, color|
  i.item.icon.large class="#{icon} #{color}"
